body {
  font-family: "Roboto", sans-serif;
  margin: 50px;
  background-color: #f4f4f4;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  max-width: 40%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: relative;
}
.inputs, .outputs {
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
label, select, input, button {
  display: block;
  width: calc(100% - 6%);
  margin: 10px auto;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #45a049;
}
#result {
  text-align: center;
  padding-top: 20px;
}
.result-item {
  text-align: center;
  vertical-align: middle;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.result-item sup, .result-item sub {
  
  position: relative;
  font-size: 90%;
  line-height: 1;
}
.checkbox-group {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.checkbox-group div {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
}
boxlabel {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  font-size: 12px;
}
.checkbox-container {
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

#nosingCheckbox {
  display: none;
}

.nosing-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4b514b;
  margin: 0px auto;
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nosing-label:hover {
  background-color: #409443;
  color: white;
  border-color: #4CAF50;
}

#nosingCheckbox:checked + .nosing-label {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}

#myFooter {
  text-align: center;
  color: #000000;
  opacity: 60%;
  font-size: 16px;
  padding: 20px;
  
}

#credits {
  padding-bottom: 10px;
}

#clear {
  background-color: #4b514b;
}

.link .link:visited {
  color: black;
  text-decoration: none;
}


.button-group {
  display: flex;
  justify-content: center;
  width: calc(100% - 6%);
  margin: 10px auto;
  margin-bottom: -10px;
}

.toggle-button {
  display: inline-block;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background-color: #4b514b;
  color: white;
}

.toggle-button.active {
  background-color: #4CAF50;
}

.toggle-button:not(.active) {
  background-color: #ccc;
}

#leftButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#rightButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bottom {
  position: absolute; /* Position the bottom div */
  bottom: 0; /* Align it to the bottom of the container */
  width: 50%; /* Adjust the width as needed */
  margin: 10px auto; /* Center the div horizontally */
  padding: 10px 10px 10px 0px; /* Add padding */
}